<div class="container">
  <div class="card card-container banner">

    <div class="row box1">


      <form [formGroup]="form" name="form">

        <div class="col-sm-8 col-md-6 col-lg-7 col-xs-12">
          <h2>Pick Up Location</h2>
          <div class="col-sm-8 col-md-6 col-lg-10 col-xs-12">
            <input type="text" formControlName="location" autocorrect="off" autocapitalize="off" spellcheck="off" name="location" class="form-control"
              placeholder=" choose  location" [(ngModel)]="locationName">
          </div>
          <div class="btn btn-danger" *ngIf="form.get('location').touched && form.get('location').invalid">
            <div *ngIf="location.errors.required">*mandatory field</div>
          </div>
        </div>


        <div class="col-sm-8 col-md-6 col-lg-7 col-xs-12">
          <h2>Choose Your Destination</h2>
          <div class="col-sm-8 col-md-6 col-lg-10 col-xs-12">
            <input type="text" formControlName="destination" autocorrect="off" autocapitalize="off" spellcheck="off" name="destination"
              class="form-control" placeholder="Enter Destination" [(ngModel)]="destinationValue">
          </div>

          <div class="btn btn-danger" *ngIf="form.get('destination').touched && form.get('destination').invalid">
            <div *ngIf="destination.errors.required">*mandatory field</div>
          </div>
        </div>


        <div class="col-sm-12 col-md-10 col-lg-6 col-xs-12">
          <h2>Choose Your Cab</h2>
          <div class="container banner1 well">
            <div class="row">
              <div class="col-xs-10 col-sm-4 col-md-7 col-lg-4" *ngFor="let image of images;let i=index">

                <a> <img class="img-responsive img-thumbnail" src="{{image.img}}" style="cursor:pointer;"  (click)="checkfare(image.name)"></a>
                <h2>{{image.name}}</h2>
              </div>
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>






        <div class="col-sm-10 col-xs-10 col-md-10 col-lg 7">
          <div class="form-group">
            <button class="btn btn-md btn-primary btn-signin" name="submit" type="submit" [disabled]="form.invalid" (click)="submit(form)">Check Your Fare </button>
          </div>
        </div>



      </form>

    </div>



  </div>
  </div>
  <!-- <inputed data to uspgbody2> -->
    <!-- <div class="container"> -->
  <div class="row">
    <div class=" col col-md-8 col-sm-6 col-lg-7 col-xs-6">
      <div class="box" [style.visibility]="toggoleShowHide">

        <app-uspgbody2 [inputedData]="enteredDetails"></app-uspgbody2>

      </div>
    </div>
  </div>
    <!-- </div> -->








<!-- 
    <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date" (dateChange)="onChange($event)">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field>


    <div> {{dateValue}}</div> -->
